{% extends 'index.html' %}

{% block float %}
<main class="container position-absolute top-0">
    <div class="position-absolute container-info">
        <div class="bg-dark text-light" style="padding: 25px;">
            <div style="background-color:rgb(154, 161, 167, 0.1); padding: 15px;">
                <p style="font-size: large;">{% block info %}{% endblock%}</p>
            </div>
        </div>
        <div class="position-absolute top-0 end-0">
            <a href="{% url 'index' %}">
                <button class="text-dark btn btn-primary" style="border-radius: 50px;">
                    <i class="fa-solid fa-x"></i>
                </button>
            </a>
        </div>
    </div>
</main>
{% endblock%}
